h1 {
    background-color: yellow;
    font-family: sans-serif;
    color: blue;
    text-align: center;
    height: 40px;
    width: 300px;
    margin: 20px;
}
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    border: 3px solid white;
   
}

p {
    margin: 20px;
}

# not true